<div class="login-container">
	<div class="logo">
		<span class="fa fa-glass"></span>
		<span class="title">Kitchen On Table</span>
	</div>

	<div class="form-container">
		<form>
			<ul>
				<li>
					<div class="fa fa-user"></div>
					<input type="text" class="text-box" id="username" placeholder="User Name"/>
				</li>
				<li>
					<div class="fa fa-lock"></div>
					<input type="password" class="text-box" id="password" placeholder="Password"/>
				</li>
			</ul>
		</form>
		<button>Log in</button>
	</div>
</div>